 html{
  margin: 1em;
  background-color:#eee;
  margin-top:0;

  
}

body{
  background: linear-gradient(rgb(111, 110, 110), rgb(111, 110, 110));
  margin: 0;
}
 
ul{
  list-style-type: none;
}

li {
color: aliceblue;
}

.navigation  ul{
 
 display: flex;
align-items: center;
 flex-direction: column;
 justify-content: space-between;
 margin-top: 3.5em;
 
 color: aqua;





}

@media only screen and (min-width: 800px) {

 .navigation ul{
  flex-direction: row;
 }

}



 li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
 
}

a:hover {
  color: #eee;
}

.button{
  width: 100%;
  color: white;
  background-color: #2e3233;
  font-size: 1.8em;
  
  padding: 10px;
  cursor: pointer;
  border-radius: 12px;
  
}

.button:hover{
  background-color: #eee;
  color: #2e3233;
}


img{
  border-radius: 10px;
  width: 100%;
}

.rabbit{
  background-color: yellowgreen;
  width: 250px;
 }