 html{
  margin: 1em;
  background-color:#eee;
  margin-top:0;

  
}

body{
  background: linear-gradient(rgb(111, 110, 110), rgb(111, 110, 110));
  margin: 0;
}

.container{
  width: 100%;
}
 
ul{
  list-style-type: none;
}

li {
color: aliceblue;

}

.navigation  ul{
 
 display: flex;
align-items: center;
 flex-direction: column;
justify-content: space-betweens;
 margin-top: 3.5em;
 margin-left: 0;






}

@media only screen and (min-width: 1050px) {

 .navigation ul{
  flex-direction: row;
  
 }

}



 li a {
  text-decoration: none;
  color: rgb(6, 223, 6);
  font-size: 1.2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 5px;
 
}

a:hover {
  color: #eee;
}

.button{
  width: 100%;
  color: white;
  background-color: #2e3233;
  font-size: 1.8em;
  margin-top: 1.5em;
  padding: 15px;
  cursor: pointer;
  border-radius: 12px;
  
}

.button:hover{
  background-color: #494646;
  color:rgb(6, 223, 6); ;
}


img{
  border-radius: 10px;
  width: 100%;
}

@media only screen and (min-width: 800px){
  img{
    width: 80%;
    height: 160px;

  }
}

.rabbit{
  background-color: yellowgreen;
  width: 250px;
 }

 .mql{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:rgb(6, 223, 6);
  font-size: 2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
 }
 