 html{
  margin: 2.5em;
  background: linear-gradient(0.25turn, #2e3233, #ebf8e1, #292623);
  margin-top:0;
  
  

 }
 


 .rabbit{
  background-color: yellowgreen;
  width: 250px;
 }





.navigation {
 
 display: flex;
align-items: center;
 margin-left: 100px;
 flex-direction: column;
 justify-content: space-between;



}

@media only screen and (min-width: 800px) {

 .navigation{
  flex-direction: row;
 }

}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin-right: 50px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  margin: 12px;
}

a:hover {
  color: #eee;
}

.button{
  display: flex;
  align-items: center;
  justify-content: right;
  color: white;
  background-color: #2e3233;
  font-size: 1.8em;
  margin-left: 20px;
  padding: 10px;
  cursor: pointer;
  border-radius: 12px;
}

.button:hover{
  background-color: #eee;
  color: #2e3233;
}


img{
  border-radius: 10px;
  width: 150px;
}